<div class="container mt-4 p-5">
  <h2>Editer mon profil</h2>

    <%= render "reg-form" %>

  <div class="text-warning d-flex flex-column w-100 align-items-end">
    <%= link_to "Supprimer mon profil", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:'shared-link' %>
    <%= link_to "Retour", :back, class: "shared-link" %>
  </div>

</div>
