
<div class="container fullheight mt-4 p-5">
  <div class="row">
    <div class="col-12 col-sm-10 col-lg-8 col-xl-6 m-auto">
      <h2>Créez votre profil</h2>

      <%= render 'reg-form' %>
    </div>
  </div>
</div>
