.mad {
  font-weight: 500;
}

.top-pigeons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.home-pigeon {
  margin: auto;
  max-width: 400px;
}

@media (max-width: 992px) {
  .top-pigeons {
    grid-template-columns: 1fr;
  }
  .home-pigeons {
    max-width: 400px;
  }
}


.home-pigeon-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
}
