.pigeons {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 1200px) {
  .pigeons {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 992px) {
  .pigeons {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .pigeons {
    grid-template-columns: 1fr;
  }
}

.pigeon-image {
  height: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat
}
