<div class="container mt-4 fullheight">

  <h2>Demandes en attente</h2>

  <div class="my-4">

    <% @bookings.each do |booking| %>
      <%= render 'booking', booking: booking %>
    <% end %>

    <div class="d-flex w-100 justify-content-end mt-3">
      <%= link_to "Accueil", root_path, class: "text-warning" %>
    </div>
  </div>

  <h2>Toutes les demandes</h2>

  <div class="my-4">

    <% @bookings_all.each do |booking| %>

      <% unless booking.status == 'pending' %>
        <%= render "booking.html.erb", booking: booking %>
      <% end %>

    <% end %>

    <div class="d-flex w-100 justify-content-end mt-3">
      <%= link_to "Accueil", root_path, class: "text-warning" %>
    </div>
  </div>
</div>
