<div class="container fullheight mt-4">
  <h1 class='mb-4'>Mes pigeons</h1>

  <div class="pigeons justify-content-center mb-4">

    <% @pigeons.each do |pigeon| %>
      <%= render 'pigeons/pigeon_card', pigeon: pigeon %>
    <% end %>

  </div>
</div>
