<h1>Données du recherche</h1>

<form action="search">
  <input type="text" name="address" placeholder="Adresse?">
  <input type="date" name="date" placeholder="Date?">
  <input type="submit">
</form>
