<div class="container mt-4 fullheight">
  <div class="row">
    <div class="col-12 col-sm-10 col-lg-8 col-xl-6 m-auto">

      <h1 class='mb-3'>Rechercher un pigeon</h1>

      <%# <form action="search">
        <div class="form-inputs">
          <div class="form-group mb-3">
            <label for="address" class='mb-2'>A quelle adresse voulez-vous envoyer votre pigeon?</label>
            <input type="text" name="address" placeholder="Adresse" class='form-control'>
          </div>
          <div class="form-group mb-3">
            <label for="date" class='mb-2'>Quand voulez-vous qu'il arrive?</label>
            <input type="date" name="date" placeholder="Date" class='form-control'>
          </div>
        </div>

        <div class="form-actions d-flex justify-content-end">
          <input type="submit" value='Voir les pigeons disponibles' class='btn btn-warning'>
        </div>
      </form> %>

      <%= simple_form_for @booking, url: "search", method: :get do |f| %>
        <div class="form-inputs">
            <div class="mb-3">
              <%= f.input :address,
                    label: "A quelle adresse voulez-vous envoyer votre pigeon?",
                    input_html: { data: { geocoder_target: "address" }, class: "d-none" },
                    wrapper_html: { data: { controller: "geocoder", geocoder_api_key_value: ENV['MAPBOX_API_KEY'] } },
                    class: 'form-control' %>
            </div>
            <div class="form-group mb-3">
              <%= f.input :date, label: "Quand voulez-vous qu'il arrive?", html5: true %>
            </div>
            <div class="form-actions d-flex justify-content-end">
              <%= f.submit "Voir les pigeons disponibles", class: "btn btn-warning" %>
            </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
