
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('banner.jpg')%>);">
  <div class="container">
    <h1><span class='mad'>Mad</span>Pigeons</h1>
    <p>Chaque occasion a son <strong class='text-warning'>pigeon</strong>... T'as pigé?</p>
    <div class="d-flex justify-content-start">
      <a class="btn btn-flat btn-warning text-white" href="/bookings/new">Envoyer un pigeon</a>
    </div>
  </div>
</div>


<div class="container fullheight mt-4">
  <p>Envoyez dès maintenant votre pigeon.</p>
</div>
