
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('banner.jpg')%>);">
  <div class="container">
    <h1><span class='mad'>Mad</span>Pigeons</h1>
    <p>Chaque occasion a son <strong class='text-warning'>pigeon</strong>... T'as pigé?</p>
    <div class="d-flex justify-content-start">
      <a class="btn btn-flat btn-warning text-white" href="/pages/form">Envoyer un pigeon</a>
    </div>
  </div>
</div>

<div class="container fullheight mt-4">
    <h4 class='mb-4' >Pigeons les plus réservés</h4>
  <div class="pigeons justify-content-center mb-4">
    <% @top_3.each do |top_pigeon| %>
      <%= render 'pigeons/pigeon_card', pigeon: top_pigeon %>
    <% end %>
  </div>
</div>
