.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0
}
.banner h1 {
  font-size: 350% !important;
  letter-spacing: 16px;
  margin: 0;
  color: white;
  font-size: 32px;
  font-weight: 400;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .8
  ;
}

.banner strong {
  font-weight: 600;
}
